<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>
<% function removeTags(str) { %>
     <% str = str.toString(); %>
     <% return str.replace( /(<([^>]+)>)/ig, ''); %>
  <% } %>
<% posts.forEach(post => { %>
     <h1 class="text-left"><%= post.title %></h1>
     <% let p=removeTags(post.content); %>
     <p class="text-left"><%= p.substring(0,100)+" ... " %><a href="/posts/<%= post._id %>">Read More</a></p>
<% }); %>

<%- include('partials/footer'); -%>